extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/styleabout.css
        

block content
    
    div#aboutus
        //- img(src="../static/backabout.jpg")
        h1.main The Ballerina
        div#ab
            h1 More than ballet training - develop a positive growth mindset for your life 
            p The Baleerina was founded by Anirudh Gautam to develop and train professional dancers. Due to its unparalleled leadership and artistry, the school is now at the forefront of dance education and classical ballet training in India.
            p We love to help each and every dancer achieve their goals, whether that’s developing fabulous technique, pointework, performing on stage, or simply enjoying the movement and artform of ballet.Everything at Ballerina is driven by the fundamental underlying belief that grownups can become really good dancers with the right amount of motivation, time, and practice. 
            h1 Positive and Inspiring Classes
            p We have fun, laugh at our mistakes, groan when things hurt, and most importantly, work hard to become who we never thought we could be. We dance in a grown-up environment and find camaraderie through our shared challenges with our grown-up bodies and lives. But, we also push ourselves beyond what we thought possible, develop self-confidence that we take with us outside of the studio, and express ourselves through movement.
        
            p We work hard, push hard, and learn a lot, but joy is mandatory. Our classes mix helpful critiques and technical ballet instruction with inspiring and positive messages to help guide you towards your goals, teach you to overcome hardships along the way and keep you motivated on your way to becoming the dancer of your dreams. Reduce your need for motivation by simply enjoying the journey and always looking forward to your next class.
            h1 Working with the Perfectionist Mindset
            p We aim to help dancers cultivate a healthy obsession so you can stay passionate for a long time to come.While perfectionists are often attracted to ballet for its detailed nature and perfect idealized form, many times, this same perfectionism that gives you so much of your drive, can also hinder your enjoyment, and therefore your ability to progress. Common challenges with the perfectionist mind:

            ul#about 
                li Do you have big dreams but just can’t seem to start on them or stay consistent along the way? 

                li Is the only critique you get from people close to you that you’re too perfect or you need to lighten or loosen up? 

                li Are you a high achiever but anxious about your shortcomings and always looking to improve everything in every way? 

                li Has your inner critic ever said the following things to you: 

                li What’s the point, I’ll never be that good anyway?

                li If I can’t do it seriously, there’s no point in trying.

                li It’ll take too long to get good at it so I may as well stop now.

                li If my practice sessions aren’t perfect, then they are a waste.

                li When I can’t give 100%, it’s not worth trying. 

                li So many other dancers are way better than me, so I might as well give up.

                li I don’t have time to fully immerse myself, so I will wait until my circumstances are different to get started.

                li I want to be better/thinner/more flexible before I start ballet.

                li Ballet is a really big dream and I’m afraid if I actually start trying, I’ll learn that I can’t do it.

                li Together, we learn to reshape these limiting beliefs to develop the skills and confidence to not only excel in ballet but live peacefully with your inner critic and actually enjoy ballet so that you will want to keep dancing until you reach your biggest goals and wildest dreams.

        
                        
