extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/stylecontact.css

block content 
    section#introsection  
        | BALLERINA 
    div.allover
    h1  WE OFFERS YOU      
    section#missionSection
        
        div.card
            h1 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/igg.png")
                div.card-content
                    p We at Ballerina trains you till perfection so that you can outstand in this competing world  

        div.card
            h1 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/imm.png")
                div.card-content
                    p This is the best ballet academy with world class trainers and state of the art studios 

        div.card
            h1 Job Opportunities 
            div.card-box
                div.card-img
                    img(src="/static/indi.jpg")
                div.card-content
                    p we opens a lot of career opportunities for you after completion of our training program
    div.allover
        h1 ALL OVER THE INDIA 
    div.card1
            div.card-box1
                div.card-img1
                    img(src="/static/del.jpg")
                div.card-content1
                    div DELHI 
                   

    div.card1
            div.card-box1
                div.card-img1
                    img(src="/static/bom.jpg")
                div.card-content1
                    div MUMBAI
                    

    div.card1
            div.card-box1
                div.card-img1
                    img(src="/static/hyy.jpg")
                div.card-content1
                    div HYDERABAD 
                               
    div.card1
            div.card-box1
                div.card-img1
                    img(src="/static/jk.jpg")
                div.card-content1
                    div  KASHMIR
                       
    div.card1
            div.card-box1
                div.card-img1
                    img(src="/static/koll.jpg")
                div.card-content1
                    div CALCUTTA 
                    