extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/styleservices.css
        

block content
    div.container
            div.box
                div.img
                    img(src="/static/corpo.jpg")
                div.content
                    div.inside CORPORATE SHOWS
                        p Lorem ipsuconsectetur adipisicng elit. Nostrum quam, architecto numquam ipsum illum veritatis, doloribus beatae quos, aut itaque molestias voluptates. Officia voluptatem libero aliquid itaque quam magnam suscipit explicabo, corrupti ea a doloremque sunt officiis, exercitationem distinctio commodi beatae ad praesentium, nam eum totam dolorem tenetur. Molestias laudantium reiciendis qui consequatur hic, ipsa saepe facilis eveniet, odit aspernatur non, nam totam fugit commodi exercitationem mollitia aperiam facere iure? Vero, quNecessitatibus q\ 
    div.container
            div.box1
                div.img
                    img(src="/static/flashmob.jpg")
                div.content
                    div.inside FLASH MOBS 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quis ipsum itaque obcaecati praesentium, dolorem placeat modi cupiditate eum veniam ex eaque vero saepe sed molestias pariatur cumque at quam magni porro ut beatae minus voluptatum sapiente. Repellat libero a est voluptate distinctio impedit temporibus, fugiat laboriosam dolore praesentium qui repellendus ad! Tempora voluptatem, odit magnam veniam facilis accusamus sed, hic adipisci corrupti quaerat tempore? Minima facere ad blanditiis animi magnam natus nostrum vont id molestias a autem maiores quibusdam labore d
                    
   
    div.container
            div.box
                div.img
                    img(src="/static/judge.jpg")
                div.content
                    div.inside JUDGING AND PERFORMING AT COLLEGE FESTS
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nam ullam aspernatur quam officia eius delectus, at rem molestiae! Soluta aspernatur iusto, nobis numquam distinctio dolorum invent, eveniet exercitationem doloribus? Provident assumenda dolores eveniet, sed at fugiat placeat veniam itaque laudantium voluptatem vero praesentium, velit voluptatum eaque inventore odit cupiditate adipisci, obcaecati volupt?
    div.container
            div.box1
                div.img
                    img(src="/static/workshop.jpg")
                div.content
                    div.inside WORKSHOPS
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio labore itaque officiis maxime deleniti consectetur velit quidem, ad ipsa, ut praesentium, eius deserunt nihil repellat nisi beatae natus neque fugit illo. Sint quidem deleniti cum corrupti earum, eaque ad, vitae velit voluptate voluptatem elitur commodi eaque, doloribus tempore veniam labore repudiandae corrupti optio cumque facilis repellat unde dolores ipsa ut reprehenderit! Voluptates, fuga doloremque repellat natus expedita ipsum corporis voluptas, dolorem unde facilis nostrum excepturi vel obcaecati eum.                
    div.container
            div.box
                div.img
                    img(src="/static/dt.jpg")
                div.content
                    div.inside DANCE TROUPES
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi natus, adipisci odit temporibus vero nulla eius, repellendus quas repellat fuga optio perferendis, reprehenderit nisi sint iusto autem. Reprehenderit asperiores cum sed tempore a porro eum vitae debitis tempora. Eligendi dolorem assumenda tempore corporis animi amet fuga, minima consequatur itaque cupiditate praesentium voluptatem ipsam architeperiores quia et qui ducimus dolor dignissimos dolorum sed ipsam dolores nt. 

    